<ion-header>
  <ion-navbar>
    <ion-title text-center>门店订单列表</ion-title>
  </ion-navbar>
  <ion-toolbar class="filter-box">
    <div class="time-box">
      <div class="search-title">选择日期</div>
      <div class="search-list">
        <div class="time-start">
          <ion-datetime (ionChange)="getOrderListByDate()" placeholder="请选择日期" cancelText="取消" doneText="确定" displayFormat="YYYY-MM-DD" max="{{dateStartMax}}" [(ngModel)]="dateStart">
          </ion-datetime>
          <span class="clear" *ngIf="dateStart" (click)="clearDateStart()">X</span>
        </div>
        <span class="go">到</span>
        <div class="time-end">
          <ion-datetime (ionChange)="getOrderListByDate()" placeholder="请选择日期" cancelText="取消" doneText="确定" displayFormat="YYYY-MM-DD" min="{{dateEndMin}}" max="{{dateEndMax}}" [(ngModel)]="dateEnd">
          </ion-datetime>
          <span class="clear" *ngIf="dateEnd" (click)="clearDateEnd()">X</span>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content style="margin-top: 40px;">
  <super-tabs (tabSelect)="onTabSelect($event)">
    <super-tab [root]="all" title="全部"></super-tab>
    <super-tab [root]="pay" title="待支付"></super-tab>
    <super-tab [root]="receipted" title="已收货"></super-tab>
    <super-tab [root]="canceled" title="已取消"></super-tab>
    <super-tab [root]="canceling" title="取消中"></super-tab>
    <super-tab [root]="finished" title="已完成"></super-tab>
  </super-tabs>
</ion-content>
