<ion-content>
  <div class="loading-wrapper" *ngIf="isLoadingShow">
    <div>
      <ion-spinner item-start [name]="load.spinner"></ion-spinner>
    </div>
    <div [innerHTML]="load.content"></div>
  </div>
  <ion-refresher (ionRefresh)="pullRefresh($event)" *ngIf="!loadingShow" class="refresher">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="withdraw-record">
    <div class="withdraw-total">
      <span *ngIf="isShow">总金额：￥ {{ sum }}</span>
    </div>
    <div class="record-list1">
      <div class="withdraw-item" *ngFor="let item of orderDetail">
        <ul>
          <li class='order-number'>订单编号：{{ item.relateId }}</li>
          <li class='base-number'>结算基数：￥{{ item.baseAmount }}</li>
          <li class='percentage'>奖励比例：{{ item.percent }}</li>
          <li class="money">奖励金额：￥{{ item.amount }}</li>
        </ul>
      </div>
      <div class="no-data" *ngIf="noData">
        <img src="./assets/image/nodata.png" alt="">
        <p>空空如也</p>
      </div>
      <div class="btn-noMore" *ngIf="showNoMore">
        <span>—— 没有更多信息了 ——</span>
      </div>
      <div class="request-defeat" *ngIf="requestDefeat">
        <img src="./assets/image/requestDefeat.png" alt="">
        <p>啊哦！页面走丢了</p>
        <button class="btn-request-defeat" ion-button full (touchstart)="getOrderDetail()">
          刷新再找一找
        </button>
      </div>
    </div>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="!showNoMore && showInfinite">
      <ion-infinite-scroll-content loadingText="加载更多..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
